.home {
  position: relative;
  background-color: #ebffd2;
  min-height: 700px;

  .home-img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
  }
  .home-img img {
    width: 80%;
    max-height: 700px !important;
  }
  .home-img::before {
    content: "Coloring Styles";
    text-transform: uppercase;
    font-size: 144px;
    text-align: center;
    position: absolute;
    top: -28px;
    z-index: -1;
    color: $main-color;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.5s steps(20) forwards, blink 0.7s infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 930px;
    } /* metin uzunluğuna göre ayarla */
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
